html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 236, 227);
}
header {
    background-color: gray;
    width: 90%;
    margin: 0 auto;
    border: .5px, groove black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0.25,0.25,0.25,0.25);

}

.homebody {
    margin: 0 auto;
}

.body1 {
    margin: 0 auto;
    width: 85%;
    border: .5px, solid black;
    height:100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0.25,0.25,0.25,0.25);
}

li {
    display: inline;

    margin-right: 28%;
    transition: 0.3s;
  
}

li:hover{
    border: .5px, solid black;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
    padding: 15px;
    border-radius: 10px;
    opacity: .6;

}
#nav-list {
    width: 100%;
    padding: 15px;
    text-align: center;
    
}