<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Rate My Roommate{% endblock %}</title>
</head>
<body>
    <header>
        <div id="title"><h1>Rate Your Roommate</h1></div>    
        <div class="nav-div">
            <nav>
                <ul id="nav-list">
    <li>
       <a href="{{ url_for('home') }}">Home</a>  
    </li>
    <li>
        <a href="{{ url_for('ratearoommate') }}">Rate Your Roommate</a>
    </li>
    <li>
        <a href="{{ url_for('aboutpage') }}">About</a>
    </li>
    {% if user %}
        <li>
            <a href="{{ url_for('bio') }}">Bio</a>
        </li>
        <li>
            <a href="{{ url_for('logout') }}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{{ url_for('login') }}">Login</a>
        </li>
    {% endif %}
</ul>
            </nav>
        </div>
    </header>
    <div class="body1">
        <form method="GET" action="{{ url_for('search') }}" class="searchbar">
            Search Person:
            <input type="search" name="q" placeholder="Search Person" class="searchinput">
        </form>
        {% with messages = get_flashed_messages() %}
             {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>