{% extends "basic_template.html" %}
{% block title %}Rate a Roommate{% endblock %}
{% block content %}
<div class="roommateratingformpage">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <div class="roommaterating-group-container">
            
            <div class="roommaterating-group">
                <h2>Rating: {{ rated_user.fname }} {{ rated_user.lname }}</h2>
            </div>
            
            {{ form.rated_user_id(type="hidden") }}

            <div class="roommaterating-group">
                {{ form.cleanliness.label }}
                <div class="radio-row-container">
                    {% for subfield in form.cleanliness %}
                        <div class="radio-column-item">
                            {{ subfield.label }}
                            {{ subfield() }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="roommaterating-group">
                {{ form.communication.label }}
                <div class="radio-row-container">
                    {% for subfield in form.communication %}
                        <div class="radio-column-item">
                            {{ subfield.label }}
                            {{ subfield() }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="roommaterating-group">
                {{ form.noise.label }}
                <div class="radio-row-container">
                    {% for subfield in form.noise %}
                        <div class="radio-column-item">
                            {{ subfield.label }}
                            {{ subfield() }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <p>{{ form.submit() }}</p>

            {% for error in form.rated_user_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.cleanliness.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.communication.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% for error in form.noise.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </div>
    </form>
</div>
{% endblock %}